# Managed by https://github.com/powerhome/software. Do not make changes here, they will be reverted.
* @powerhome/heroes-for-hire
audiences-react/package.json
audiences-react/yarn.lock
audiences/audiences.gemspec
audiences/Gemfile
audiences/Gemfile.lock
audiences/spec/dummy/yarn.lock
