volumes:
  dummy_web_bundle:
  dummy_web_db:
services:
  dummy-web:
    image: ruby:3.4.5@sha256:8fc13ab79e1bf71da804040b587feca8cd9306c2f5def3a970e94f24f60cf97b
    platform: linux/x86_64
    working_dir: /app/audiences/spec/dummy
    environment:
      RAILS_ENV: development
      VITE_RUBY_HOST: dummy-vite
      DATABASE_HOST: mysql
    command:
      - /bin/sh
      - -c
      - |
        bundle check || bundle install
        bundle exec rails db:setup
        rm -f tmp/pids/server.pid
        bundle exec rails server --binding '0.0.0.0' --port '3000'
    ports:
      - "3000:3000"
    depends_on:
      - dummy-vite
      - mysql
    volumes:
      - .:/app
      - dummy_web_bundle:/usr/local/bundle
  dummy-vite:
    image: node:22.13.1-alpine
    platform: linux/x86_64
    working_dir: /app/audiences/spec/dummy
    command:
      - /bin/sh
      - -c
      - |
        yarn install
        yarn dev
    ports:
      - "3036:3036"
    volumes:
      - .:/app
  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - dummy_web_db:/var/lib/mysql
